// Site colors
$white: #ffffff;
$black: #000000;
$persianGreen: #00ac8a;
$pacificBlue: #00a4c6;
$lightGrey: #cfcfcf;
$darkGrey: #4a4a4a;
$gradient: linear-gradient(-45deg, #00ac8a, #00a4c6);

// Root
$baseFont: "Open Sans", sans-serif;
$baseFontSize: 1rem;

// Font weights
$light: 400;
$mediumBold: 600;
$bold: 700;

// Font size variations
$smFont: $baseFontSize / 1.2; // 15px
$mdFont: $baseFontSize * 1.2; // 22px
$lgFont: $baseFontSize * 1.8; // 27px

// Width & height
$fullCover: 100%;
