// Site colors
$white: #ffffff;
$black: #000000;
$persianGreen: #00ac8a;
$pacificBlue: #00a4c6;
$lightGrey: #cfcfcf;
$darkGrey: #4a4a4a;

// Root
$baseFont: "Open Sans", sans-serif;
$baseFontSize: 1rem;

// Font weights
$light: 400;
$mediumBold: 600;
$bold: 700;

// Font size variations
$smFont: $baseFontSize / 1.2; // 13px
$mdFont: $baseFontSize * 1.1; // 22px
$lgFont: $baseFontSize * 1.2; // 24px

// Heading font sizes
$h1Size: $baseFontSize * 3; // 60px
$h2Size: $baseFontSize * 2; // 40px
$h3Size: $baseFontSize * 1.5; // 30px

// Width & height
$fullCover: 100%;
