.cards-container {
  display: flex;
  flex-wrap: wrap;

  &__item {
    max-width: 24%;
    min-height: 400px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    @include pdMg(padding, 3em 1.4em 1.5em);
    @include pdMg(margin, 0 0.5% 0.9%);
    @include border($lightGrey);
    @include position();
    @include transition(box-shadow 0.5s ease);
    @include media(1100px) {
      @include pdMg(padding-bottom, 1em);
    }
    @include media(950px) {
      max-width: 23.5%;
      @include pdMg(margin, 0 0.7% 1.3%);
    }
    @include media(850px) {
      max-width: 31.9%;
    }
    @include media(650px) {
      max-width: 48.4%;
      min-height: 300px;
    }
    @include media(550px) {
      max-width: 48%;
      min-height: 350px;
      @include pdMg(margin, 0 0.9% 1.7%);
    }
    @include media(450px) {
      max-width: 100%;
      min-height: 250px;
      flex-grow: 1;
      @include pdMg(margin, 0 0.9% 2.3%);
    }

    &:hover,
    &:focus {
      @include shadow(box-shadow, inset 0 0 15px 5px rgba($black, 0.15));
    }

    &:first-child {
      background-image: $gradient;
      color: $white;
      max-width: 49%;
      flex-flow: column nowrap;
      @include media(950px) {
        max-width: 48.4%;
      }
      @include media(850px) {
        max-width: 100%;
        min-height: 300px;
      }
      @include media(350px) {
        min-height: 370px;
      }

      & .cards-container__item-arrow {
        background: rgba($black, 0.4);
        @include transition(background 0.5s ease);

        &:hover {
          background: rgba($black, 0);
        }
      }

      & .arrowSvg {
        fill: $white;
      }
    }

    &-title {
      font-weight: $bold;
    }

    &-des {
      font-size: $baseFontSize / 1.1;
      @include pdMg(margin-top, 1.3em);
      @include media(1100px) {
        font-size: $baseFontSize / 1.2;
      }
      @include media(400px) {
        font-size: $baseFontSize / 1.3;
      }
    }

    &-pdf {
      font-size: $smFont;
      color: lighten($darkGrey, 20%);
      align-self: flex-end;
      @include pdMg(padding-left, 30px);
      @include position();
      @include media(650px) {
        font-size: $smFont / 1.1;
      }

      &:before {
        content: "";
        background: url(../images/document.svg) no-repeat top left;
        opacity: 0.2;
        @include position(absolute, 0, 0, 0, 0);
      }
    }

    &-arrow {
      width: 60px;
      height: 60px;
      cursor: pointer;
      background: rgba($lightGrey, 0);
      @include transition(background 0.5s ease);
      @include position(absolute, $bottom: 0, $right: 0);
      @include media(1100px) {
        width: 40px;
        height: 40px;
      }

      & span {
        height: 1px;
        width: 1px;
        position: absolute;
        overflow: hidden;
        top: -10px;
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      &:hover .arrow--right {
        transform: translate(-30%, -50%);
      }

      &:hover .arrow--down {
        transform: translate(-50%, -30%);
      }

      &:hover {
        background: rgba($lightGrey, 1);
      }
    }
  }
}

.first--card {
  color: $white;
  font-size: $lgFont;
  line-height: 1.3;

  @include media(1100px) {
    font-size: $baseFontSize * 1.5;
  }
  @include media(850px) {
    font-size: $baseFontSize * 1.5;
  }
  @include media(550px) {
    font-size: $baseFontSize * 1.3;
  }
  @include media(450px) {
    font-size: $baseFontSize * 1.1;
  }
}

.arrow--down,
.arrow--right {
  width: 100%;
  max-width: 22px;
  height: auto;
  transform: translate(-50%, -50%);
  @include transition(transform 0.2s ease-in-out);
  @include position(absolute, 50%, 50%);

  @include media(1100px) {
    max-width: 18px;
  }
}

object:focus {
  outline: none;
}
