.cards-container {
  display: flex;
  flex-wrap: wrap;

  &__item {
    max-width: 24%;
    min-height: 400px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    @include pdMg(padding, 3em 1.4em 1.5em);
    @include pdMg(margin, 0 0.5% 0.9em);
    @include border($lightGrey);
    @include position();

    &:first-child {
      background-image: $gradient;
      color: $white;
      max-width: 49%;
      flex-flow: column nowrap;

      & .cards-container__item-arrow {
        background: rgba($black, 0.4);
        @include transition(background 0.5s ease);

        &:hover {
          background: rgba($black, 0);
        }
      }

      & .arrowSvg {
        fill: $white;
      }
    }

    &-title {
      font-weight: $bold;
    }

    &-des {
      font-size: $baseFontSize / 1.1;
      @include pdMg(margin-top, 1.3em);
    }

    &-pdf {
      font-size: $smFont;
      color: lighten($darkGrey, 20%);
      align-self: flex-end;
      @include pdMg(padding-left, 30px);
      @include position();

      &:before {
        content: "";
        background: url(../images/document.svg) no-repeat top left;
        opacity: 0.2;
        @include position(absolute, 0, 0, 0, 0);
      }
    }

    &-arrow {
      width: 60px;
      height: 60px;
      cursor: pointer;
      background: rgba($lightGrey, 0);
      @include transition(background 0.5s ease);
      @include position(absolute, $bottom: 0, $right: 0);

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      &:hover .arrow--right {
        transform: translate(-30%, -50%);
      }

      &:hover .arrow--down {
        transform: translate(-50%, -30%);
      }

      &:hover {
        background: rgba($lightGrey, 1);
      }
    }
  }
}

.first--card {
  color: $white;
  font-size: $lgFont;
  line-height: 1.3;
}

.arrow--down,
.arrow--right {
  width: 100%;
  max-width: 22px;
  height: auto;
  transform: translate(-50%, -50%);
  @include transition(transform 0.2s ease-in-out);
  @include position(absolute, 50%, 50%);
}

object:focus {
  outline: none;
}
