// Global body styles
body {
  font: $light $baseFontSize $baseFont;
  background: $white;
  line-height: 1.5;
  color: $darkGrey;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

// Heading styles
h1 {
  font-size: $baseFontSize * 1.07;
  color: $darkGrey;
  font-weight: $bold;
  @include media(1100px) {
    font-size: $baseFontSize / 1.02;
  }
  @include media(850px) {
    font-size: $baseFontSize;
  }
  @include media(650px) {
    font-size: $baseFontSize / 1.05;
  }
  @include media(550px) {
    font-size: $baseFontSize / 1.1;
  }
}

// Main wrapper styles
.wrapper {
  width: $fullCover;
}

// Main content container styles
main {
  width: $fullCover;
  max-width: 1200px;
  @include pdMg(margin, 0 auto);
}


