html {
  height: 100%;
}

body {
  font: $light $baseFontSize $baseFont;
  background: $white;
  line-height: 1.5;
  color: $darkGrey;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

h1 {
  font-size: $baseFontSize * 1.07;
  color: $darkGrey;
  font-weight: $bold;
}

.wrapper {
  width: $fullCover;
}

main {
  width: $fullCover;
  max-width: 1200px;
  @include border($black);
  @include pdMg(margin, 0 auto);
}
