html {
  height: 100%;
}

body {
  font: $light $baseFontSize $baseFont;
  background: $white;
  line-height: 1.5;
  color: $darkGrey;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

h1 {
  font-size: $baseFontSize * 1.07;
  color: $darkGrey;
  font-weight: $bold;
  @include media(1100px) {
    font-size: $baseFontSize / 1.02;
  }
  @include media(850px) {
    font-size: $baseFontSize;
  }
  @include media(650px) {
    font-size: $baseFontSize / 1.05;
  }
  @include media(550px) {
    font-size: $baseFontSize / 1.1;
  }
}

.wrapper {
  width: $fullCover;
}

main {
  width: $fullCover;
  max-width: 1200px;
  @include pdMg(margin, 0 auto);
}

.arrowSvg {
  fill: $persianGreen;
  cursor: pointer;
  border: 1px solid red;
  @include transition(all 0.5s ease);
}

.arrowSvg:hover {
  fill: $white;
}


